.card {
    background-color: rgb(206, 242, 248);
    color: var(--q-label);
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    margin: 27px;
    z-index: 2;
    padding: 5px;
    padding-bottom: 15px;
}

.card-img-top{
    height: 200px;
    width: 300px;
    background-color: rgb(179, 226, 189);
}

.card-body{
    padding: 0px;
    border: 1px solid rgb(221, 214, 214);
    background-color: white;
}

.card-body > div {
    border-bottom: 1px solid rgb(221, 214, 214);
    padding: 8px;
    padding-left: 16px;
}


